body{ 
  background: url(../images/nomzBG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


footer {
  color: #ffffff;
}

.title {
  margin-top: 15%;
}


.navbar-brand img {
    width: 40px;
    height: auto;
    margin-top: -10px;
    border-radius: 5000px;
}


.jumbotron {
	margin-top: 10%;
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background-color: rgba(200, 54, 54, 0.5); 
}

/*changes modal header color to match color scheme of page, border radius change gives rounded edges*/
.modal-header {
  background-color: #dddddd;
  border-radius: 6px 6px 0px 0px;
}

/*allows me to vertically align the modal to my preferences*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 90%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}